
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<section id="page-404-wrap" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="page-404-content">
                    <div class="number">
                       
                    <h4>Thank You for Renting a Car</h4>
                    <a href="index.html" class="btn-404-home"><i class="fa fa-home"></i>Go to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer-area">
    <!-- Footer Widget Start -->
    <div class="footer-widget-area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>About Us</h2>
                        <div class="widget-body">
                            <img src="~/Content/img/logo.png" alt="JSOFT">
                            <p></p>

                            

                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->
                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">
                    
                </div>
                <!-- Single Footer Widget End -->
                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>get touch</h2>
                        <div class="widget-body">
                            <p></p>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <ul class="get-touch">
                                <li><i class="fa fa-map-marker"></i>299 Doon Valley Dr, Kitchener, ON N2G 4M4</li>
                                <li><i class="fa fa-mobile"></i> +519 897 0786</li>
                           
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->
            </div>
        </div>
    </div>
    <!-- Footer Widget End -->

</section>
