@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<script type="text/javascript">

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: -33.8688, lng: 151.2195
            },
            zoom: 13
        });
        var address = document.getElementById("address");
        var autocomplete = new google.maps.places.Autocomplete(address);
        autocomplete.bindTo('bounds', map);
        var marker = new google.maps.Marker({
            map: map,
            anchorPoint: new google.maps.Point(0, -29)
        });

        autocomplete.addListener('place_changed', function () {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }

            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            }
            else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);
            }
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }
        });
    }


</script>

<!--== Slider Area Start ==-->
<section id="slider-area">
    <!--== slide Item One ==-->
    <div class="single-slide-item overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="book-a-car">
                        <form action="../AddCar/Vehicle" method="post">
                            <!--== Pick Up Location ==-->
                            <div class="pickup-location book-item">
                                <h4>PICK-UP LOCATION:</h4>
                                <input type="text" id="address" name="location" placeholder="Enter your Location" />
                                <div id="map"></div>
                                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfBUEen1CxFbz-TtHsEnBI5Yv-WNUtgLo&libraries=places&callback=initMap"></script>
                            </div>

                            <div class="pick-up-date book-item">
                                <h4>PICK-UP DATE:</h4>

                                <input class="form-control" id="startDate" name="startDate" placeholder="MM/DD/YYY" type="text" />
                                <div class="return-car">
                                    <h4>Return DATE:</h4>
                                    <input class="form-control" id="endDate" name="endDate" placeholder="MM/DD/YYY" type="text" />
                                </div>
                            </div>
                            <div class="choose-car-type book-item">
                                <h4>CHOOSE CAR TYPE:</h4>
                                @Html.DropDownList("categoryId", ViewBag.CategoryList as SelectList, "--Select Category--", new { @class = "select-custom" })
                            </div>
                            <div class="book-button text-center">
                                <button class="book-now-btn">Book Now</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-7 text-right">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="slider-right-text">
                                <h1>BOOK A CAR TODAY!</h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== slide Item One ==-->
</section>
<!--== Slider Area End ==-->
<!--== About Us Area Start ==-->
<section id="about-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>About us</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>
                        RENT A CAR is an Canadian Car company headquartered in Waterloo Ontario. [1]  Rent A Car is a
                        Budget Car and Suv Rental and Zipcar are all units of Rent a car budget group.
                        Rent a car Budget Group operates the brand in North America, South America, India, Australia, and
                        New Zealand. In 2011, Rent a car announced it was acquiring Rent a car Europe plc which had
                        been a separate corporation licensing the Rent a car brand.
                        Since the late 1970s, Rent a car has featured mainly General Motor (GM) vehicles such as Toyota
                        and LEXUS and , but today also rents popular non-GM brands including Jaguar and HONDA
                        Rent a Car is a leading rental car provider to the commercial segment serving business travelers at
                        major airports around the world, and to leisure travellers at off-airport locations. Many of the off-
                        airport locations are franchised operations rather than company-owned and -operated, as is the case
                        with most airport locations. Rent a Car was the first car rental business to be located at an airport.
                        The company was founded in 1946 with three cars at Pearson Airport. by Alim Samnani, Kshitij Arora
                        and Gavish Sethi . It established branch operations across the Canada over the next few years,
                        becoming the second largest car rental company in the country by 1953. By its tenth anniversary in
                        1956 it had opened its first international offices in Europe, USA and Mexico.
                    </p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <!-- About Content Start -->
            <div class="col-lg-6">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="about-content">
                            <p>
                                RENT A CAR is an Canadian Car company headquartered in Waterloo Ontario. [1]  Rent A Car is a
                                Budget Car and Suv Rental and Zipcar are all units of Rent a car budget group.
                            </p>

                            <p>
                                The company was founded in 1946 with three cars at Pearson Airport. by Alim Samnani, Kshitij Arora
                                and Gavish Sethi.
                            </p>
                            <div class="about-btn">
                                <a href="#">Book a Car</a>
                                <a href="/Home/Contact">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Content End -->
            <!-- About Video Start -->
            <div class="col-lg-6">
                <div class="about-video">
                    <iframe src="https://player.vimeo.com/video/121982328?title=0&byline=0&portrait=0"></iframe>
                </div>
            </div>
            <!-- About Video End -->
        </div>
    </div>
</section>
<!--== About Us Area End ==-->
<!--== Choose Car Area Start ==-->
<section id="choose-car" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Choose your Car</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <!-- Choose Area Content Start -->
            <div class="col-lg-12">
                <div class="choose-content-wrap">
                    <!-- Choose Area Tab content -->
                    <div class="tab-content" id="myTabContent">
                        <!-- Popular Cars Tab Start -->
                        <div class="tab-pane fade show active" id="popular_cars" role="tabpanel" aria-labelledby="home-tab">
                            <!-- Popular Cars Content Wrapper Start -->
                            <div class="popular-cars-wrap">
                                <!-- Filtering Menu -->
                                <div class="popucar-menu text-center">
                                    <a href="#" data-filter="*" class="active">all</a>
                                    @Html.Raw(ViewBag.menuString)

                                </div>


                                <div class="row popular-car-gird">
                                    @Html.Raw(ViewBag.carString)
                                </div>
                                <!-- PopularCars Tab Content End -->
                            </div>
                            <!-- Popular Cars Content Wrapper End -->
                        </div>
                        <!-- Popular Cars Tab End -->

                    </div>
                    <!-- Choose Area Tab content -->
                </div>
            </div>
            <!-- Choose Area Content End -->
        </div>
    </div>
</section>
<!--== Choose Car Area End ==-->


<section id="footer-area">
    <!-- Footer Widget Start -->
    <div class="footer-widget-area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>About Us</h2>
                        <div class="widget-body">
                            <h3>Rent-a-Car</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->
                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">

                </div>
                <!-- Single Footer Widget End -->
                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>get touch</h2>
                        <div class="widget-body">
                            <p></p>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <ul class="get-touch">
                                <li><i class="fa fa-map-marker"></i>299 Doon Valley Dr, Kitchener, ON N2G 4M4</li>
                                <li><i class="fa fa-mobile"></i> +519 897 0786</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->
            </div>
        </div>
    </div>
    <!-- Footer Widget End -->

</section>
<!--== Scroll Top Area Start ==-->
<div class="scroll-top">
    <img src="~/Content/img/scroll-top.png" alt="JSOFT">
</div>

