
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add User</title>
</head>
<body>
    <div>
        <h1>Add User</h1>
        <form method="post" action="Add">

            <table>
                <tr>
                    <td>
                        <label>User Name</label>
                    </td>
                    <td>
                        <input type="text" name="userName" placeholder="User Name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Password</label>
                    </td>
                    <td>
                        <input type="text" name="password" placeholder="Password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Mobile Number</label>
                    </td>
                    <td>
                        <input type="text" name="phone" placeholder="Mobile Number" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Email ID</label>
                    </td>
                    <td>
                        <input type="text" name="emailID" placeholder="Email ID" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Address</label>
                    </td>
                    <td>
                        <input type="text" name="address" placeholder="Address" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Submit" />
                    </td>
                </tr>
            </table>


        </form>
    </div>
</body>
</html>
